<div class="banner">
  <div class="jumbotron">
    <div class="text-content">
      <h1 class="title">世邦家居招聘站</h1>
      <p class="slogan">
        建材家居品牌商和精英牵手的圣地之一
      </p>
      <p class="lead"><a class="btn btn-lg b-btn" href="/jobs">从这里开始</a></p>
    </div>
  </div>
</div>

<section class="odd">
  <div class="section-content">
    <h2 class="section-title">在这里你可以</h2>

      <h3 class="advantage-title">
         <p>快速找到世邦家居里进行招聘的品牌商家</p><br>
          <p>集中了解到建材家居品牌的招聘需求</p><br>
          <p>更有的放矢的进行工作的筛选</p>
        </h3>
  </div>
</section>

<section class="hot-jobs-category">
  <div class="section-content">
    <div class="img-sb">
      <img src="https://ww4.sinaimg.cn/large/006tNbRwgy1ff2rovlkiej306s036750.jpg">
    </div>
    <h2 class="section-title">招聘进行时的品牌</h2>
    <ul class="hjc-ul">
      <li>
        <a href="/">
          <div class="hjc-img-wrap">
            <img class="project-img img-responsive" src="https://ww2.sinaimg.cn/large/006tNbRwgy1feuf8papw5j307q06gt96.jpg" alt="">
          </div>
           <div class="title">索菲亚全屋定制</div>
        </a>
      </li>
      <li>
        <a href="/jobs/search?utf8=✓&q=简一">
          <div class="hjc-img-wrap">
            <img class="project-img img-responsive" src="https://ww4.sinaimg.cn/large/006tNbRwgy1feuf6f9pp1j305k052di5.jpg" alt="">
          </div>
          <div class="title">简一大理石瓷砖</div>
        </a>
      </li>
      <li>
        <a href="/">
          <div class="hjc-img-wrap">
            <img class="project-img img-responsive" src="https://ww4.sinaimg.cn/large/006tNbRwgy1feufek0emxj307705btb4.jpg" alt="">
          </div>
          <div class="title">友邦集成吊顶</div>
        </a>
      </li>
      <li>
        <a href="/">
          <div class="hjc-img-wrap">
            <img class="project-img img-responsive" src="https://ww2.sinaimg.cn/large/006tNbRwgy1feufkssb8zj30bl0aq7ac.jpg" alt="">
          </div>
          <div class="title">欧派家居</div>
        </a>
      </li>
      <li>
        <a href="/jobs/search?utf8=✓&q=职能">
          <div class="hjc-img-wrap">
            <img class="project-img img-responsive" src="https://ww4.sinaimg.cn/large/006tNbRwgy1feufqfj8zuj3077050taz.jpg" alt="">
          </div>
          <div class="title">慕思寝具</div>
        </a>
      </li>

      <li>
        <a href="/jobs">
          <div class="hjc-img-wrap">
            <img class="project-img img-responsive" src="https://ww3.sinaimg.cn/large/006tNbRwgy1feuftxw6v4j309j081gqg.jpg" alt="">
          </div>
          <div class="title">查看更多</div>
        </a>
      </li>
    </ul>
  </div>
</section>

<section class="odd">
  <div class="section-content other">
    <h2 class="section-title">听听他们怎么说</h2>
    <div class="col-3 home-people clearfix">
      <div class="item person fl">
        <div class="avata-wrapper">
          <img class="avata" src="https://ww2.sinaimg.cn/large/006tNbRwgy1feugfi7w9rj30520583z9.jpg">
        </div>
        <div class="intro clearfix">
          <div class="name">
            Jan
          </div>
        </div>
        <div class="words">
          <span class="bg"></span>
          <span class="fa fa-quote-left quote quote-l iconfont"></span>
          <span class="fa fa-quote-right quote quote-r iconfont"></span>
          <div class="content">我给自己的定位是要做高端的产品，珠海的世邦是高端卖场，在这里我很快找到了符合我定位的工作。</div>
        </div>
      </div>
      <div class="item person fl">
        <div class="avata-wrapper">
          <img class="avata" src="https://ww4.sinaimg.cn/large/006tNbRwgy1feugq791wjj304x04yabe.jpg">
        </div>
        <div class="intro clearfix">
          <div class="name">
            Yary
          </div>
        </div>
        <div class="words">
          <span class="bg"></span>
          <span class="fa fa-quote-left quote quote-l iconfont"></span>
          <span class="fa fa-quote-right quote quote-r iconfont"></span>
          <div class="content">想在世邦找家居建材类的工作，有了世邦服务站我再也不用再各个招聘网站里搜这方面的工作了。</div>
        </div>
      </div>
    </div>
  </div>
</section>


<div class="banner">
<div class="base-image">
  <div class="text-content">
    <p class="lead"><a class="btn btn-lg b-btn" href="/jobs">从这里开始</a></p>
  </div>
</div>
</div>
